.sorting_1 {
    display: -webkit-inline-box;
}
.img img {
    max-width: 100%;
}

.text {
    position: absolute;
    top: 35%;
    left: 38%;
    color: #fff;
    text-align: center;
}

.img {
    position: relative;
}

.text h2 {
    font-size: 50px;
}

<<<<<<< HEAD
.avatar-edit {
    margin-top: 30px; 
    height: 100px;
    width: 100px;
}

.role-box {
    margin-left: 5px;
    margin-top: 10px;
=======
.dataTables_wrapper .dataTable th {
    cursor: pointer;
}

.dataTables_wrapper #m_table_1.dataTable td:last-child {
    display: -webkit-inline-box;
}

#m_table_1 .sorting_1 {
    display: table-cell;
>>>>>>> fix4
}
